/*APP COMPONENT RELATED CSS GOES HERE*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
    width: 100vw;
    color: #F8F7F6;
}

body {
    width: 100vw;
    background-color: #212A41
}

header {
  width: 100%;
  height: 46px;
  background-color: magenta;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #208AF0;
  z-index: 1000;
}

.space-holder {
  height: 36px;
  width: 100%;
  color: #208AF0;
}

.graph-catalog {
  margin-top: -20px;
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.graph-card {
  width: 19%;
  border: 2px solid #1B44A6;
  margin: 10px 0px 0 0;
  text-align: center;
  height: 312px;
  overflow: hidden;
  background-color: #b3a2af;
}

.card-selected {
  width: 19%;
  border: 2px solid #1B44A6;
  margin: 10px 0px 0 0;
  text-align: center;
  height: 312px;
  overflow: hidden;
  background-color: #208AF0;
}

div {
  display: inline-block
}

.district-table {
  border: 1px solid #1B44A6;
  font-size: 16px;
  padding: 0 1px 0 1px;
  background-color: #F8F7F6;
  display: flex;
  width: 100%;
}

.table-header {
  display: inline-block;
  /* border: 1px solid black; */
  text-align: center;
  border-right: 1px solid black;
  width: 70px;
  margin: 0 auto;
  padding: 2px;
  color: black;
  font-weight: bold;
}

.table-below {
  text-align: center;
  display: inline-block;
  color: #f44336;
  margin: 0 auto;
  width: 70px;
  padding: 2px;  
  font-weight: bold;  
}

.table-above {
  text-align: center;
  display: inline-block;
  color: #6bab6d;
  margin: 0 auto;
  width: 70px;
  padding: 2px; 
  font-weight: bold;  
}

article {
  /* margin: 0 auto; */
  display: inline-block;
  margin-top: 10px;
}

.chart {
  display: inline-block;
}

.card-body {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6EEED;
}

input {
  height: 30px;
  width: 300px;
  font-size: 16px;
  /* position: absolute; */
  display: inline-block;
  /* vertical-align: middle; */
  background-color: #F6EEED;
  padding-left: 5px;
}

h1 {
    display: inline-block;
    margin-right: 20px;
    /* margin: 4px 0 0 10px; */
    /* vertical-align: middle; */
}

.card-header {
    padding: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    height: 24px;
    background-color: #847475;
    color: #F6EEED;
}

.card-header-selected {
    padding: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    height: 24px;
    background-color: #208AF0;
    color: #F6EEED;
}

.compare-display {
  /* margin-top: 40px; */
  width: 100vw;
  display: inline-block;
  padding-right: 9px;
  padding-left: 9px;
  margin-bottom: 10px;
  /* margin-bottom: -48px; */
  background-color: #F6EEED;
  border-bottom: 2px solid black;
  /* margin-bottom: 10px; */
  height: 332px;
}

.full-compare {
  /* margin-top: 50px; */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: -30px; */
  /* position: fixed; */
  background-color: #F6EEED;
  height: 332px;
  /* top: 0px; */
  /* left: 0px; */
  /* border-bottom: 4px solid black; */
  /* padding-left: 10px; */
  padding-right: 18px;
  /* padding-bottom: 10px; */
  padding-top: 0px;
  margin-top: -5px;

}

.line-chart {
  height: 312px;
  width: 700px;
  text-align: center;
  color: black;
  background-color: #F6EEED;
  border: 1px solid black;
  padding-bottom: 30px;
  margin-top: 10px;
}

p {
  display: inline-block;
  margin-right: 18px;
}

.VictoryContainer {
  top: -20px;
}
